.card {
   display: flex;
    background: #bd7878;
    max-width: 500px;
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
}
